% rebase('base.html')

<!--Job Post-->
		 <form action = "/post" method = "post" id = "postform" class="post" >
            Job Title: <input name = "title" type = "text"/>
            Location: <input name = "location" type = "text"/>
            Company: <input name = "company" type = "text"/>
            Description: <input name = "description" type = "text"/>
            <input value = "Post Job" type = "submit" align = "center"/>
		 </form >
<!--Job Descriptions -->
		%for row in jobs:
            <div class="job">
				<div class = "timestamp">{{row[1]}}</div>
                <div class = "jobtitle">{{row[3]}}</div>
                <div class = "timestamp">{{row[2]}}</div>
                <div class = "timestamp">{{row[4]}}</div>
                <div class = "timestamp">{{row[5]}}</div>
                <div class = "description">{{!row[6][:200]}}</div>
                <div class = "more"><a href = "/positions/{{row[0]}}">Read More</a></div>
	    	</div>
        	%end


